<div class="mt-4">
  <p>
    <h3>Thùng rác</h3>
    <a href="/me/stored/course">khoá học của tôi</a>
  </p>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khoá học</th>
        <th scope="col">Level</th>
        <th scope="col">Thời gian xoá</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.deletedAt}}</td>
          <td colspan="2"><a
              href=""
              id="res-btn"
              class="btn btn-link"
              data-toggle="modal"
              data-id="{{this._id}}"
              data-target="#delete-course-modal"
            >Khôi phục | Xoá vĩnh viễn</a></td>
        </tr>
      {{else}}
        <tr>
          <td class="text-center" colspan="5">Không có khoá học nào trong thùng
            rác!
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! modal delete }}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoá khoá học</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn muốn khôi phục hay xoá khoá học</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="del-btn-del"
          
          class="btn btn-danger"
        >Xoá hẳn</button>
        <button
          id="del-btn-restore"
          type="button"
          class="btn btn-primary"
        >Khôi phục</button>
      </div>
    </div>
  </div>
</div>
{{! form delete }}
<form name="delete-course-form" method="POST"></form>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var courseId;
    var deleteForm = document.forms["delete-course-form"];
    var btnDelCourse = document.getElementById("del-btn-agree");

    $('#delete-course-modal').on('show.bs.modal', function (event) { 
      var button = $(event.relatedTarget);
      var id = button.data('id');
      courseId = id;
    })
    var btnDelCourse= document.getElementById("del-btn-del");
    var btnResCourse= document.getElementById("del-btn-restore");

    btnResCourse.onclick= function() {
      deleteForm.action = "/course/" + courseId + "?_method=PATCH";
      deleteForm.submit();
    }
    btnDelCourse.onclick= function() {
      deleteForm.action = "/course/force/" + courseId + "?_method=DELETE";
      deleteForm.submit();
    }
  })
</script>